In [1]:
import pandas as pd
import json

In [21]:
df = pd.read_csv('earthquakes1970-2014.csv')
df.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,00:40.2,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,35:51.8,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,12:39.1,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,07:08.6,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,05:39.0,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

In [15]:
#df.set_index('EventID', inplace=True)
#df.head()

In [22]:
df.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,00:40.2,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,35:51.8,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,12:39.1,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,07:08.6,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,05:39.0,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

In [23]:
d = df.to_dict()

In [24]:
d.keys()

dict_keys(['DateTime', 'Latitude', 'Longitude', 'Depth', 'Magnitude', 'MagType', 'NbStations', 'Gap', 'Distance', 'RMS', 'Source', 'EventID'])

In [37]:
json_data = df.to_json(orient='records')
type(json_data)

str

In [38]:
json.loads(json_data)[0]

{'DateTime': '00:40.2',
 'Latitude': 24.139,
 'Longitude': 102.503,
 'Depth': 31.0,
 'Magnitude': 7.5,
 'MagType': 'Ms',
 'NbStations': 90.0,
 'Gap': None,
 'Distance': None,
 'RMS': 0.0,
 'Source': 'NEI',
 'EventID': 1970010440.0}

In [28]:
import json

with open('quakes.json', 'w') as f:
    json.dump(json_data,f)

In [29]:
!pwd

/cygdrive/c/Users/EasyE/data_lake.github.io/Sandbox

In [39]:
with open('quakes.txt', 'w') as f:
    f.write(json_data)

In [45]:
import json
import pprint

#pp.PrettyPrinter().pprint

#from pprint import PrettyPrinter as pp
#pp.pprint()

released = {
            "iphone" : 2007,
            "iphone 3G" : 2008,
            "iphone 3GS" : 2009,
            "iphone 4" : 2010,
            "iphone 4S" : 2011,
            "iphone 5" : 2012
        }
pprint.pprint(released)

#print released
#with open('json_file') as f:
    
#    xjson = f.readline()
#    #yy = json.dumps(xjson, sort_keys=True, indent=4)
#    x={'a':'3','b':'67'}

#pp.pprint('released')

{'iphone': 2007,
 'iphone 3G': 2008,
 'iphone 3GS': 2009,
 'iphone 4': 2010,
 'iphone 4S': 2011,
 'iphone 5': 2012}

In [54]:
import json

with open('json_file') as json_file:
    data = json.load(json_file)
    pprint.pprint(data)

{}

In [ ]:
    for p in data['people']:
        print('Name: ' + p['name'])
        print('Website: ' + p['website'])
        print('From: ' + p['from'])
        print('')

In [53]:
data={}
with open('json_file', 'w') as outfile:
    x=json.dump(data, outfile)
    pprint.pprint(outfile)

<_io.TextIOWrapper name='json_file' mode='w' encoding='cp1252'>

In [ ]:
with open('json_file') as f:
    xjson = f.readline()
    pprint.pprint(xjson)

In [7]:
df.to_json('Resources/table_data.html')

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/table_data.html'